@import url('https://fonts.googleapis.com/css?family=Abel');
* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    box-sizing: inherit;
}
a {
    color: #88AAA9;
}
p {
	font-size: 1.5em;
}
span.title {
	font-size: 1.5em;
}
.top-nav {
    float: right;
}
.Menu img {
    position: relative;
    margin-left: 80px;
    margin-top: 10px;
    width: 40px;
}
.top-nav li {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle;
    height: 64px;
    text-align: center;
}
.top-nav li a {
    font-size: 1rem;
    cursor: pointer;
}
.top-nav li a:hover {
    color: white;
    background: #BDB1AD;
}
.top-nav li:last-child a {
    color: white;
    background-color: #039be5;
    width: 159px;
    height: 59px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.brand {
    display: inline-block;
    font-size: 2.1rem;
    font-family: 'Abel', sans-serif;
    float: center;
    text-transform: uppercase;
    color: #846C63;
    top: -10px;
    position: relative;
}
.TopMenu {
    border-bottom: 2px solid #dddddd;
    height: 64px;
    line-height: 64px;
    position: fixed;
    background-color: #fff;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.Menu {
    width: 70%;
    margin-left: 220px;
}
.page {
    background-color: #F6F4F1;
    margin-top: 64px;
}
.page:after {
    content: " ";
    display: table;
    clear: both;
}
.row {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.row:after {
    content: " ";
    display: table;
    clear: both;
}
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
}
.title {
    color: #846C63;
    text-transform: uppercase;
}
.col {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    box-sizing: border-box;
    padding: 0.6em;
}
.m1 {
    width: 33%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.m2 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    box-shadow: 0 2px 5px 0;
    border-radius: 2px;
}
.card-image img {
    width: 100%;
    height: 80%;
    display: block;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
}
.card-content {
    min-height: 105px;
    padding: 20px;
    border-radius: 0 0 2px 2px;
    font-size: 18px;
    background-color: #F6F4F1;
}
.card-content p {
    margin: 0;
    color: #88AAA9;
    font-size: 14px;
}
.card-content a {
    color: #846C63;
    line-height: 22px;
    padding-top: 10px;
    cursor: pointer;
}
.tableTitle {
    color: #846C63;
    width: 60%;
    float: left;
    padding: 0.5em;
}
.tableTitle2 {
    width: 33.333333%;
    float: right;
    padding: 0.5em;
}
.tableTitle2 p {
    color: #846C63;
}
.tableTitle2 p a {
    padding: 20px;
    color: white;
    background-color: #88AAA9;
}
footer {
    padding-top: 20px;
    width: 100%;
    background-color: rgba(189, 177, 173, 0.3);
}
.container {
    padding-bottom: 280px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}
.footer-menu {
    width: calc(100% /4);
    float: left;
}
.footer-menu p {
    color: #846C63;
    font-size: 1.4rem;
    line-height: 110%;
}
.footer-menu ul a {
    color: #846C63;
    font-size: 14px;
}
.footer-menu ul li {
    color: #88AAA9;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}
.container-end {
    height: 50px;
    line-height: 50px;
    color: rgba(225, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}
footer img {
	height: 50px !important;
	width: 150px !important;
}